/* Fonts / Variables Import */

@import url(fonts.css);

@import url(variables.css);

/* HTML / BODY Rules */

html , body{
    margin: 0;
}

/* Navbar Pre-Design */

.link-f{
    font-family: var(--main-font);
    font-size: 1.1rem;
    color: white;
}

/* Hero Pre-Design */

.cover-title{
    font-family: var(--second-font);
    font-size: 2rem;
    color: white;
}

.cover-text{
    font-family: var(--second-font);
    color: white;
    font-size: 1.5rem;
}

.p-z-o-s{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

/* Swipe Design */

.text{
    color: black;
    font-family: var(--second-font);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
}

.box span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.5s;
}

/* About Us Pre-Design */

.about-us-full{

}

.about-us-full .title{
    text-align: center;
    font-size: 2rem;
    font-family: var(--second-font);
    text-decoration: underline;   
}

/* Text Box Pre-Design */

.text-box-full{
    margin-top: 2rem;
}

@media only screen and (max-width:600px) {
    .text-box-full{
        display: inline;
    }
}

.trans{
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        margin-top: -1000px;
    }
    
    to{
        opacity: 1;
        margin-top: 2rem;
    }
}

.close {
    cursor: pointer;
    font-size: 1.3rem;
    opacity: 0.5;
    transition: 0.1s;
    text-align: right;
    margin-right: 3%;
}

.close:hover{
    opacity: 1;
}

.t-b-1-f{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--hand-font);
    font-weight: 300;
    text-decoration: underline;
}

.t-b-1-f-t{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--hand-font);
    font-weight: 300;
}

.t-b-1-s{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--hand-font);
    font-weight: 300;
    text-decoration: underline;
}

.t-b-1-s-t{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--hand-font);
    font-weight: 300;
}

