/* Fonts / Variables Import */

@import url(fonts.css);

@import url(variables.css);

/* HTML / BODY Rules */

html , body{
    margin: 0;
}

/* Navbar Pre-Design */

li{
    list-style-type: none;
}

/* Blog Pre-Design */

.blog .text-blog{
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}