:root{
    --important-family : 'Titillium Web', sans-serif;

    --text-important-family : 'Roboto Condensed', sans-serif;

    --btn-family : 'Roboto Slab', serif;
}

/* 

--important-family - Font for titles and link // 300 light

--text-important-family - Font for text holders and others // 300 light 

--btn-family - Font for buttons // 300 light

*/